@model RegisterUserRequest

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-black ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white mt-1">Регистрация</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form id="register" method="post" enctype="multipart/form-data">
                        <h3 class="border-bottom pb-3 mb-4 text-secondary text-center">
                            Создать новый аккаунт
                        </h3>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="UserName" class="form-control" />
                            <label asp-for="UserName" class="form-label">Имя</label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" />
                            <label asp-for="Email" class="form-label">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" type="password"/>
                            <label asp-for="Password" class="form-label">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div>
                            <button id="register-submit" type="submit" class="w-25 btn btn-sm btn-primary fs-5">Register</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}